section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section > div {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  margin: 2px;

  text-align: center;
  font-size: 40px;
}

h1 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
}

.right {
  background-color: green;
  color: white;
}

.empty {
  background-color: grey;
  color: white;
}
.include {
  background-color: rgb(191, 203, 20);
  color: white;
}

.winner {
  position: absolute;
  visibility: hidden;
  width: 100%;
  min-height: calc(100vh);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(30, 58, 123);
}

h2 {
  font-size: 45px;
  color: rgb(81, 225, 20);
}
h3 {
  font-size: 45px;
  color: rgb(81, 225, 20);
}

a {
  text-decoration: none;
  font-size: 45px;
  color: rgb(81, 225, 20);
}
