html {
  padding: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: rgb(36, 65, 60);
}

section > div {
  width: 50px;
  height: 50px;
  border: 2px solid rgb(184, 184, 60);
  margin: 2px;
  line-height: 44px;
  text-align: center;
  font-size: 30px;
  color: rgb(160, 65, 27);
}

h1 {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
  color: rgb(151, 222, 18);
}

.right {
  background-color: rgb(151, 222, 18);
  color: white;
}

.empty {
  background-color: grey;
  color: white;
}
.include {
  background-color: rgb(184, 184, 60);
  color: white;
}

.winner {
  position: absolute;
  visibility: hidden;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(36, 65, 60);
}

h2 {
  font-size: 45px;
  color: rgb(151, 222, 18);
}
h3 {
  font-size: 45px;
  color: rgb(151, 222, 18);
}

a {
  text-decoration: none;
  font-size: 45px;
  color: rgb(151, 222, 18);
}
.green {
  background-color: rgb(151, 222, 18);
  border: 1px solid rgb(151, 222, 18);
  padding: 2px;
  color: white;
  border-radius: 3px;
}
.yelow {
  background-color: rgb(184, 184, 60);
  border: 1px solid rgb(184, 184, 60);
  padding: 2px;
  color: white;
  border-radius: 3px;
}
.grey {
  background-color: grey;
  border: 1px solid grey;
  padding: 2px;
  color: white;
  border-radius: 3px;
}
.rules {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: rgb(151, 222, 18);
  font-weight: bold;
  font-size: 18px;
}
.rules > p {
  margin: 5px;
}
