section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section > div {
  width: 44px;
  height: 44px;
  border: 2px solid black;
  margin: 2px;
  line-height: 44px;
  text-align: center;
  font-size: 30px;
}

h1 {
  color:rgb(36, 65, 60);
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
}

.right {
  background-color: rgb(151, 222, 18);
  color: white;
}

.empty {
  background-color: rgb(36, 65, 60);
  color: white;
}
.include {
  background-color: rgb(184, 184, 60);
  color: white;
}

.winner {
  position: absolute;
  visibility: hidden;
  width: 100%;
  min-height: calc(100vh);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(36, 65, 60);
}

h2 {
  font-size: 45px;
  color: rgb(151, 222, 18);
}
h3 {
  font-size: 45px;
  color: rgb(151, 222, 18);
}

a {
  text-decoration: none;
  font-size: 45px;
  color: rgb(151, 222, 18);
}
.green {
  background-color: rgb(151, 222, 18);
  border: 1px solid rgb(151, 222, 18);
  padding: 2px;
  color: white;
  border-radius: 3px;
}
.yelow {
  background-color: rgb(184, 184, 60);
  border: 1px solid rgb(184, 184, 60);
  padding: 2px;
  color: white;
  border-radius: 3px;
}
.grey {
  background-color: rgb(36, 65, 60);
  border: 1px solid rgb(36, 65, 60);
  padding: 2px;
  color: white;
  border-radius: 3px;
}
